*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;
    --black-800: #171717;
    --gray-200: #cccccc;
    --gray-400: #505861;
    --white: #F9F9F9;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--gray-200);
    color: var(--black-800);
}

.botao{
    border: 1px solid var(--purple-800);
    border-radius: 10px;
    padding: 10px 45px;
    text-align: center;
    font-weight: 700;
}

.botao:hover{
    background-color: var(--purple-800);
    color: var(--gray-200);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* estilização seção header */

.menu_container{
    background-color: var(--purple-800);
    position: sticky ; /*elemento fixo na page */
    top: 0;
    filter: opacity(0.9); /*fica um pocuo transparente  */
    height: 80px;
}

.menu_container a{
    font-size: 16px;
    color: var(--white); 
    font-weight: bold;
}

.menu_container a:hover{
    color: var(--purple-200);
}

.menu_content{
    max-width: 1120px; /*largura máxima 'padrão para desktop'*/
    padding: 0 24px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.menu_lista{
    list-style: none;
}

.menu_lista li{
    margin-left: 16px;
}

/* estilização seção home */

.home_container{
    max-width: 1120px;
    margin: auto; 
    height: 100vh;
    display: flex; 
}

.home_container p,
h1,
h4 {
    text-align: center;
}

.home_container h4 {
    margin: 16px 0;
 }
 
 .home_container h1 {
    font-size: 36px;
}

.home_container p {
    margin: 16px 0;
}

.home_container .botao {
    width: 40%; 
}

.home_content {
    width: 50vw;    
    display: flex;
    justify-content: center;    
    align-items: center;       
    flex-direction: column;
}

.home_content img {
    width: 75%; 
}

/* estilização seção sobre */

.sobre_container {
    max-width: 1120px;
    margin: -24px auto; 
    height: 100vh;
    display: flex; 
    align-items: center;        
}

.sobre_container img {
    width: 35%;
    border: 5px solid var(--purple-500);
    border-radius: 50%;
}

.sobre_container h1 {
    font-size: 32px;
    text-align: center;
}

.sobre_container p {
    text-align: center;
    margin: 16px 0;
}

.sobre_github {
    justify-content: space-evenly; 

}


#sobre_texto{
    margin-left: 30px;
}

.contact_container{
    display: grid;
    /* grid-template-columns: auto auto;  */
    grid-template-columns: repeat(auto-fill, 545px); /* o grid tentará criar tantas colunas de 545px quanto couberem dentro do container. Se o espaço não for suficiente para a próxima coluna de 545px, ela irá quebrar para a linha seguinte e deixar em coluna */
    margin: auto;
    max-width: 1120px;
    height: 100vh;
    gap: 30px;
    justify-content: center;
    align-items: center;
}


.contact_content{
   flex-direction: column;
   text-align: center;
   gap: 30px;
}

.contact_content h4{
    font-size: 30px;
    font-weight: bold;
}

.icones{
    gap: 15px;
}
.icones a img{
   width: 70px;
}

.social_icons:hover{
    filter:  brightness(0) saturate(100%) invert(28%) sepia(26%) saturate(4087%) hue-rotate(242deg) brightness(94%) contrast(103%);
}

.form_content{
    display: flex;
    flex-direction: column;
    padding: 24px;
}


.form_content input, textarea{
    margin: 8px 0 16px ;
    padding: 8px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
}

.form_content button{
    background-color: transparent;
}


footer {
    margin: 0;
    padding: 24px;
    color: var(--white);
    background-color: var(--purple-500);
    filter: opacity(0.9);
    font-weight: bold;
    text-align: center;
}